<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Policía de Río Negro - Sistema de Turnos{% endblock %}</title>
    <link rel="stylesheet" href="/static/estilos.css?v=9">
</head>
<body>

    <nav class="navbar-institucional">
        <div class="navbar-brand">Policía de Río Negro</div>
        <div class="navbar-sub">Turnos - Certificados de Antecedentes</div>
    </nav>

    {% block content %}{% endblock %}

</body>
</html>